

@font-face {
  font-family: "Red Hat Display";
  src: url("font/RedHatDisplay-Regular.eot");
  src: url("font/RedHatDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/RedHatDisplay-Regular.woff2") format("woff2"),
    url("font/RedHatDisplay-Regular.woff") format("woff"),
    url("fontRedHatDisplay-Regular.ttf") format("truetype"),
    url("font/RedHatDisplay-Regular.svg#RedHatDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("font/RedHatDisplay-Medium.eot");
  src: url("font/RedHatDisplay-Medium.eot?#iefix") format("embedded-opentype"),
    url("font/RedHatDisplay-Medium.woff2") format("woff2"),
    url("font/RedHatDisplay-Medium.woff") format("woff"),
    url("font/RedHatDisplay-Medium.ttf") format("truetype"),
    url("font/RedHatDisplay-Medium.svg#RedHatDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("font/RedHatDisplay-Black.eot");
  src: url("font/RedHatDisplay-Black.eot?#iefix") format("embedded-opentype"),
    url("font/RedHatDisplay-Black.woff2") format("woff2"),
    url("font/RedHatDisplay-Black.woff") format("woff"),
    url("font/RedHatDisplay-Black.ttf") format("truetype"),
    url("font/RedHatDisplay-Black.svg#RedHatDisplay-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("RedHatDisplay-Bold.eot");
  src: url("RedHatDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("RedHatDisplay-Bold.woff2") format("woff2"),
    url("RedHatDisplay-Bold.woff") format("woff"),
    url("RedHatDisplay-Bold.ttf") format("truetype"),
    url("RedHatDisplay-Bold.svg#RedHatDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*****global****/
html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: url(./images/pattern-background-desktop.svg) hsl(225, 100%, 94%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width : 28rem;
  margin: 0px 10px;
  background: white;
  font-family: 'Red Hat Display', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 20px 50px hsl(224, 23%, 55%);
}


.illustration img{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

h1{
  font-size: 20px;
  font-weight: 900;
  color:hsl(223, 47%, 23%);
}

h2{
  font-weight: bold;
  font-size: 16px;
  color: hsl(223, 47%, 23%);
}

p{
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}

/******** Introduction *********/

.introduction{
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.introduction p{
  line-height: 25px;
}

/

.annual_plan{
  margin: 10px 40px ;
  padding: 20px 30px ;
  background-color:hsl(225, 100%, 98%);
  border-radius: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;    
}

.annual_plan img{
  width: 50px;
  height: 50px;
}

.price {
  display: flex;
  flex-direction: column;
  padding-right: 30px ;
}

.price h2,p{
  margin: 0;
}

.change {
  padding-left: 30px;
  font-weight: 700;
}

/*************Button************/

button{
  margin: 20px 40px 10px 40px;
  padding: 15px 30px;
  background-color:hsl(245, 75%, 52%);
  color: whitesmoke;
  font-weight: 900;
  border-radius: 20px;
  font-size: 14px;
  border:none;
  box-shadow: 0px 22px 20px hsl(225, 100%, 94%);
}
/************* Cancel order **********/
.cancel_order {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  padding: 25px 0 40px 0;
}

.cancel_order a{
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

/****************Active states**************/

.cancel_order a:hover{
  color: hsl(223, 47%, 23%);
}

button:hover{
  opacity: 0.5;
  cursor: pointer;
}

.change a:hover{
  text-decoration: none;
  opacity: 0.7;
}

.attribution{
  font-size: 10px;
  display: flex;
  justify-content: center;
}


@media screen and (max-width:376px) 
{

.introduction{
  padding: 20px 35px ;  
}

.annual_plan{
  padding: 14px;
}

.price{
  padding-right:15px;
}
.change {
  padding-left: 0px;
  font-weight: 700;
}

}

@media screen and (max-width: 415px){
  .card{
    width: 90vw;
  }  

  .change {
      padding-left: 0px;
      font-weight: 700;
  }

  .annual_plan  p, h2, .price, .change{
      font-size: 14px;
  }
}
/****mediaaa queries *****/
